{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container">
        <h1>{{ part.name }}</h1>

        <div class="part-detail">
            {% if part.image %}
            <img src="{{ part.image.url }}" alt="{{ part.name }}">
            {% endif %}
            <p><strong>Description:</strong> {{ part.description }}</p>
            <p><strong>Price:</strong> £{{ part.price }}</p>

            <p><strong>Other details:</strong></p>
            <ul>
                <li>Part Number: {{ part.part_number }}</li>
                <li>Manufacturer: {{ part.manufacturer }}</li>
                <!-- Add any other relevant details -->
            </ul>

            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}